/* Style info for header/navbar */
#about-header {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #e45f56;
    
}

#header-color {
 color: beige !important;
}

.about-header {
    color: #e45f56;
}

.project-title {
   color: salmon;
}

/* Style info for main content */
.about-background {
    background-color: whitesmoke;
}

/* .navbar-nav li a.active, .navbar-nav li a:focus {
border-top: 0.2rem solid salmon;
} */