/* ****************My Portfolio */
html {
    height: 100%;
}

body {
    background-image: url("./background_portfolio.jpg");
    background-position: center;
    background-size: cover;
    /* background-color: white; */
    height: auto;
    /* min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%; */
}

a:hover{
    text-decoration: none;
}

.color-btn {
    background-color: #e45f56;
    color: beige;
}

/* Style info for footer */
footer {
    background-color: #404040;
    color: beige;
    border-top: 7px solid #e45f56;
}

.footer-btm {
    margin-top: auto;
}

footer ul li a {
    color: beige;
    
}

.font-icons {
    font-size: 32px;
    color: #e45f56;
} 




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Style info for 'header - h1' to get smaller in px size when on smaller screen. */
@media screen and (max-width: 375px) {
    h1.about-header {
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    a#about-header {
        font-size: 18px;
    }
}